<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therapon</title>
    <link rel="icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/Home/Index"> <img src="~/img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Home/Index">Início</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Sobre">Sobre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Servicos">Serviços</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Terapeuta/Pesquisa">Terapeutas</a>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a href="/Home/Login" class="genric-btn primary-border circle arrow">Login<span class="lnr lnr-arrow-right"></span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!-- breadcrumb start-->
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Terapeuta</h2>
                            <p>Início<span>/</span>Terapeuta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- ================ Paciente section start ================= -->
    <section class="Paciente-section section_padding">
        <div class="container">

            <div class="col-12">
                <div class="col-lg-10">
                    <h3 class="mb-30">Dados Pessoais</h3>
                    <div class="section-top-border">
                        <form action="@Url.Action("Salvar","Terapeuta")" method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="cpf" placeholder="CPF"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'CPF'" required
                                           class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="nome" placeholder="Nome"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome'" required
                                           class="single-input">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="sobrenome" placeholder="Sobrenome"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Sobrenome'" required
                                           class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="email" name="email" placeholder="E-mail"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" required
                                           class="single-input">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="password" name="senha" placeholder="Senha"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Senha'" required
                                           class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="dtnascimento" name="dtnascimento" placeholder="Data de Nascimento"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Data de Nascimento'" required
                                           class="single-input">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="celular" name="celular" placeholder="Celular"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Celular'" required
                                           class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <input type="text" name="pais" placeholder="País" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'País'" required class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="cep" placeholder="CEP" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'CEP'" required class="single-input">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="estado" placeholder="Estado" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Estado'" required class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="cidade" placeholder="Cidade" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Cidade'" required class="single-input">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <input type="text" name="bairro" placeholder="Bairro" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Bairro'" required class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <input type="text" name="logradouro" placeholder="Logradouro" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Logradouro'" required class="single-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="numero" placeholder="Número" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Número'" required class="single-input">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" name="complemento" placeholder="Complemento" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Complemento'" required class="single-input">
                                </div>
                            </div>

                            <h3>Dados profissionais</h3>
                            <div class="section-top-border">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" name="crp" placeholder="CRP"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'CRP'" required
                                               class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-select" id="default-select_2">
                                            <select name="cboGraduacao">
                                                <option value="1">Graduação</option>
                                                <option value="2">Pós Graduação</option>
                                                <option value="3">Especialização</option>
                                                <option value="4">Doutorado</option>
                                                <option value="5">Pós-Doutorado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" name="instituicao" placeholder="Instituição de Ensino"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Instituição de Ensino'" required
                                               class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="text" name="curso" placeholder="Curso"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Curso'" required
                                               class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" name="anoinicio" placeholder="Ano de Início"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ano de Início'" required
                                               class="single-input">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" name="anotermino" placeholder="Ano de Término"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ano de Término'" required
                                               class="single-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <textarea class="single-textarea" name="descricao" placeholder="Descrição" onfocus="this.placeholder = ''"
                                                  onblur="this.placeholder = 'Descrição'" required></textarea>
                                    </div>
                                </div>
                                <div class="single-element-widget mt-30">
                                    <h3 class="mb-30">Atendimento</h3>

                                    @foreach (var item in ViewBag.Atendimento)
                                    {

                                        <div class="switch-wrap d-flex justify-content-between">
                                            <p>@item.DescricaoAtendimento</p>

                                            <div class="primary-checkbox">
                                                <input type="checkbox" id="atendimento1">
                                                <label for="atendimento1"></label>
                                            </div>
                                        </div>

                                    }


                                    <h3 class="mb-30">Abordagens</h3>
                                    @foreach (var item in ViewBag.Abordagem)
                                    {

                                        <div class="switch-wrap d-flex justify-content-between">
                                            <p>@item.DescricaoAbordagem</p>

                                            <div class="primary-checkbox">
                                                <input type="checkbox" id="atendimento1">
                                                <label for="atendimento1"></label>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="genric-btn primary text-uppercase">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Paciente section end ================= -->
    <!-- footer part start-->
    <footer class="footer-area">
        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | THERAPON
                    </p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer part end-->
    <!-- jquery plugins here-->

    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <!-- Paciente js -->
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/Paciente.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>

</html>